*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    line-height: 1.5;
}

.page__body {
    font-family: var(--font-family);
    /* background-color: var(--dark-primary); */
    background-image: url(../img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: calc((var(--container-width)) + (var(--container-offset) * 2));
}

.container__left {
    padding-right: 70px;
    padding-top: 26px;
    padding-left: 80px;
    max-width: 100%;
    margin: 0 auto;
}

.container__right {
    max-width: 849px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}